.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.intro{
  grid-column: 2 / span 4;
  text-align:center;}
.intro-image{
  grid-column: 2/span 4;
  max-height: 400px;
  overflow: hidden; 
}

footer{
 background-color: #0072b1;
 color: white;
 position: fixed;
 bottom: 0;
 width: 100%;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}
.nav_links{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
header{
	background: #0072b1;
 	border: 3px solid #50C7C7;
 	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.nav_item a{
  color: white;
  text-decoration: none;
}
body{
	background-color: #EEEEEE;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:60px;
  color: black;
  text-decoration-style: solid;
}
.contact-contain{
	 display: grid;
	 grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
h2{
	font-size: 48px;
	text-align: center;
}
.contact-text{
	grid-row: 1;
	grid-column: 1/span 7;
}
.phone-image{
	grid-row: 2;
	grid-column: 2 
}
.linkdin-image{
	grid-row: 3;
	grid-column: 2
}
.email-image{
	grid-row: 4;
	grid-column: 2
}
.instagram-image{
	grid-row: 5;
	grid-column: 2
}
.phone-text{
	grid-row: 2;
	grid-column: 4/span 7 
}
.linkdin-text{
	grid-row: 3;
	grid-column: 4/span 7
}
.email-text{
	grid-row: 4;
	grid-column: 4/span 7
}
.instagram-text{
	grid-row: 5;
	grid-column: 4/span 7
}
.formcontact{
	display: none;
}

.about-contain{
	 display: grid;
	 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.adobeXD-image{
	grid-row: 1;
	grid-column: 1
}
.adobeAi-image{
	grid-row: 2;
	grid-column: 1
}
.adobePs-image{
	grid-row: 3;
	grid-column: 1
}
.adobePr-image{
	grid-row: 4;
	grid-column: 1
}
.editing-image{
	grid-row: 9;
	grid-column: 1
}
.cplusplus-image{
	grid-row: 6;
	grid-column: 1
}
.htmlcss-image{
	grid-row: 7;
	grid-column: 1
}
.python-image{
	grid-row: 8;
	grid-column: 1
}
.uxdesign-image{
	grid-row: 5;
	grid-column: 1
}
.adobeXD-text{
	grid-row: 1;
	grid-column: 3
}
.adobeAi-text{
	grid-row: 2;
	grid-column: 3
}
.adobePs-text{
	grid-row: 3;
	grid-column: 3
}
.adobePr-text{
	grid-row: 4;
	grid-column: 3
}
.editing-text{
	grid-row: 9;
	grid-column: 3
}
.cplusplus-text{
	grid-row: 6;
	grid-column: 3
}
.htmlcss-text{
	grid-row: 7;
	grid-column: 3
}
.python-text{
	grid-row: 8;
	grid-column: 3
}
.uxdesign-text{
	grid-row: 5;
	grid-column: 3
}
h3{
	font-size: 48px;
	text-align: center;
	margin-bottom: 15px
}
.resume-text{
	text-align: center;
	padding-bottom: 20px;
}
.experience{
	padding-bottom: 20px;
}
.experiencetwo{
	padding-bottom: 20px;
}
.experiencethree{
	padding-bottom: 20px;
}
.experiencefour{
	padding-bottom: 20px;
}
.experiencefive{
	padding-bottom: 20px;
}
.experiencesix{
	padding-bottom: 80px;
}
a:active{
	font-weight: bold;
	color: black;
}
.currentLink {
    font-weight: bold;
    text-decoration: underline;
}
body{
	font-family: 'Playfair Display', serif;
}
@media screen and (min-width: 768px){
.container{
  display: flex;
  flex-direction: column;
	}
.intro-image{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	}
.intro{
	font-size: 36px;
	}
.experience {
	font-size: 20px;	
	}
.experiencetwo{
	font-size: 20px;
	}
.experiencethree{
	font-size: 20px;
	}
.experiencefour{
	font-size: 20px;
	}
.experiencefive{
	font-size: 20px;
	}
.experiencesix{
	font-size: 20px;
	}
.contact-contain{
	 display: grid;
	 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
.phone-image{
	grid-row: 2;
	grid-column: 2 
	}
.linkdin-image{
	grid-row: 4;
	grid-column: 2
	}
.email-image{
	grid-row: 6;
	grid-column: 2
	}
.instagram-image{
	grid-row: 8;
	grid-column: 2
	}
.phone-text{
	font-size: 25px;
	grid-row: 2;
	grid-column: 4/span 7
	}
.linkdin-text{
	font-size: 25px;
	grid-row: 4;
	grid-column: 4/span 7
	}
.email-text{
	font-size: 25px;
	grid-row: 6;
	grid-column: 4/span 7
	}
.instagram-text{
	font-size: 25px;
	grid-row: 8;
	grid-column: 4/span 7
	}
.formcontact{
	display: initial;
	grid-row: 9;
	grid-column: 4;
}
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:60px;
  color: black;
  text-decoration-style: solid;
}

@media screen and (min-width: 992px){
.experience {
	font-size: 32px;
	padding-bottom: 60px;	
	}
.experiencetwo{
	font-size: 32px;
	padding-bottom: 60px;
	}
.experiencethree{
	font-size: 32px;
	padding-bottom: 60px;
	}
.experiencefour{
	font-size: 32px;
	padding-bottom: 60px;
	}
.experiencefive{
	font-size: 32px;
	padding-bottom: 60px;
	}
.experiencesix{
	font-size: 32px;
	padding-bottom: 60px;
	}
.about-contain{
	font-size: 45px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.adobeXD-image{
	grid-row: 1;
	grid-column: 2
}
.adobeAi-image{
	grid-row: 2;
	grid-column: 2
}
.adobePs-image{
	grid-row: 3;
	grid-column: 2
}
.adobePr-image{
	grid-row: 4;
	grid-column: 2
}
.editing-image{
	grid-row: 9;
	grid-column: 2
}
.cplusplus-image{
	grid-row: 6;
	grid-column: 2
}
.htmlcss-image{
	grid-row: 7;
	grid-column: 2
}
.python-image{
	grid-row: 8;
	grid-column: 2
}
.uxdesign-image{
	grid-row: 5;
	grid-column: 2
}
.adobeXD-text{
	grid-row: 1;
	grid-column: 3
}
.adobeAi-text{
	grid-row: 2;
	grid-column: 3
}
.adobePs-text{
	grid-row: 3;
	grid-column: 3
}
.adobePr-text{
	grid-row: 4;
	grid-column: 3
}
.editing-text{
	grid-row: 9;
	grid-column: 3
}
.cplusplus-text{
	grid-row: 6;
	grid-column: 3
}
.htmlcss-text{
	grid-row: 7;
	grid-column: 3
}
.python-text{
	grid-row: 8;
	grid-column: 3
}
.uxdesign-text{
	grid-row: 5;
	grid-column: 3
}
.intro-image{
	padding-bottom: 150px;
}
.contact-contain{
	 display: grid;
	 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
.phone-image{
	grid-row: 2;
	grid-column: 3 
	}
.linkdin-image{
	grid-row: 4;
	grid-column: 3
	}
.email-image{
	grid-row: 6;
	grid-column: 3
	}
.instagram-image{
	grid-row: 8;
	grid-column: 3
	}
.phone-text{
	font-size: 30px;
	grid-row: 2;
	grid-column: 5/span 7
	}
.linkdin-text{
	font-size: 30px;
	grid-row: 4;
	grid-column: 5/span 7
	}
.email-text{
	font-size: 30px;
	grid-row: 6;
	grid-column: 5/span 7
	}
.instagram-text{
	font-size: 30px;
	grid-row: 8;
	grid-column: 5/span 7
	}
.formcontact{
	display: initial;
	grid-row: 10;
	grid-column: 4;
}
.bodyskills{
	background-image: url("../images/skills4.jpg");
	background-attachment: fixed;   
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-color: #EEEEEE;
}
.resume-text{
	animation-name: resumeanimation;
	animation-duration: 8s;
}
@-webkit-keyframes resumeanimation{
}
@keyframes resumeanimation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }
  .resume-text{
  animation-name: none;
  }
  .skip a{
    -webkit-transition: none;
    transition: none;   
   }
  .bodyskills{
    background-attachment: initial;
  }
}
